      <!-- <% for (const orderDetail of orderDetails) { %>
      <div class="container-fluid dish-container" id=<%=order.id%>>
        <div class="row item-container">
          <div class="col-lg-8 item-info">
            <p class="item-name">
              <%=order.name%>
            </p>
            <p class="item-price">
              $<%=order.price + '.00'%>
            </p>
          </div>
          <div class="container col-4 text-center align-middle">
            <button type="button" class="btn add-item-btn">Add Item</button>
          </div>
        </div>
      </div>
      <% } %> -->
