body{
  background-color: white !important;
}


.all-container {
  margin-top: 2rem;
}


.container-fluid {
  margin-bottom: 2rem;
}


.jumbotron {
  margin-top: 2rem;
  // border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1rem !important;

 #eta{
    margin: 0;
    margin-top: 5px;
  }

  #mailing-address{
    margin: 0;
    margin-top: 5px;
  }

  .delivery-address{
    width: 50%;
  }

  .delivery-time{
    width: 50%;
  }

 &.jumbotron-fluid {
    border-radius: 8px;
  }
}


  .everything-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .container-fluid{
    padding: 0;
    max-width: 1140px;

    .item-container {
      display: flex;

      justify-content: space-between;
      .item-name-container {
        display: flex;
        justify-content: flex-start;
        width: 20%;

        p {
          margin-right: 0.5rem;
          margin-left: 0.5rem;

        }

        .item-name {
          text-align: left;
        }
      }
    }
  }


.button{
  margin: 0px 100px 0px 100px;
}


button{
  border-radius: 5px !important;
}
