header {
  height: 5rem;
  background-color: white;

  .navbar {
    padding-top: 1rem;
  }

  .navbar-brand {
    color: black !important;
    font-size: 1.5rem;
  }

  button {
    color: black !important;
    font-size: 1.5rem;
  }
}
