header {
  height: 5rem;


  .navbar {
    padding-top: 1rem;
    background-color: white;
  }

  .navbar-brand {
    color: black !important;
    font-size: 1.5rem;
  }

  button {
    color: black !important;
    font-size: 1.5rem;
  }
}
