// See: https://sass-lang.com/
$main-color: #FDA50F;

body {
  background-color: rgb(232, 232, 232) !important;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.5px;

  h1 {
    color: grey;
  }

  .menu-section {
    text-align: left;
    border-bottom: 1px solid $main-color;
    padding-bottom: 2px;
  }
}
.container{
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border-radius: 0;
}
#everything-below-restaurant {
  padding:100px;
  padding-top:0px;
}
.superdiv{
  display:flex;

  background-color:white;
  margin: auto;
  height: auto;
  width: 70%;
  border-radius: 10px;
  opacity:0.85;

}

// #under-image {
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   z-index: -1;
// }
