$main-color: #FDA50F;

.live-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  margin-top: 4rem;
  height: 500px;
  width: 30% !important;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 3px #f0f0f0;
  position: fixed;
  right: 50px;

  #your-order {
    border-bottom: 1px solid $main-color;
  }

}

.fa-shopping-bag {
  font-size: 16rem;
  color: rgb(201, 201, 201);
  padding: 2rem;

  .hidden {
    color: black;
  }
}

#empty-order-message {
  font-size: 0.9rem;
}

.checkout-btn {
  background-color: $main-color !important;
  margin-top: 7.5rem;
  color: #fff !important;
}

.order-item-container {

  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    // border: 1px solid #c7c7c7;
    margin: 0.5rem;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    p {
      font-size: 12pt;
      font-weight: 300;
      margin-bottom: 0;
    }



    .fa-minus-circle {
      font-size: 1rem;
    }
  }
}



