$main-color: #FDA50F;

.live-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;
  // overflow-y: hidden;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 500px;
  // width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 3px #f0f0f0;
  position: relative;
  // right: 50px;

  #your-order {
    border-bottom: 1px solid $main-color;

    p{
      padding-top:15px;
    }

  }

}

@media only screen and (min-width: 1250px) {
  .price-order-container {
  position: relative;
  width: 100%;
  }


}

.order-container{
  position: fixed;
  right: 18%;
  width: 20%;
  // box-shadow: 0px 2px 3px red;
  box-shadow: 0px 2px 3px #c9c9c9;
  // transition: 0.3s ease-in-out;
  margin: 2% 0px 0px 5%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
}

// .price-order-container {

//   position: fixed;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   width: 30%;
//   margin-left: 2rem;
//   padding-right: 50px;
//   #total-price-container {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     // width: 30%;
//     // position: fixed;
//   }
// }

#your-order{
  p{
    height: 50px;
    margin-bottom: 0;
    font-size: larger;
    font-weight: 500;
  }
}

#empty-order-elements {


  &.hidden {
    display: none;
  }

  p {
    font-size: 1rem;
  }

  .fa-shopping-bag {
    font-size: 14rem;
    color: rgb(201, 201, 201);
    padding: 2rem;
  }

}

#checkout-button{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.checkout-btn {
  background-color: $main-color !important;
  color: #fff !important;
  height: 50px;

  &.disabled {
    background-color: #c9c9c9 !important;
    color: #707070;
  }
}

#final-submit-btn {
  background-color: $main-color !important;
  color: white;
}

.order-item-container {
  height: calc(100% - 50px);
  margin-bottom: 50px;
  overflow-y: auto;

 .row order-item{
    height: 100%;
    border: 1px solid black;
  }

  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #c9c9c9;
    margin: 1rem;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      // border: 1px solid black;
    }

    p {
      font-size: 12pt;
      font-weight: 300;
      margin-bottom: 0;
      font-style: italic;
    }

    .fa-minus-circle {
      font-size: 1rem;
    }

    #item-quantity{
      border: none;
    }
  }
}


