$main-color: #FDA50F;
$border-color: #bbbbbb;

body {
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-repeat: no-repeat;
  background-position: top;
}

.reorder-btn {
  background-color: $main-color !important;
  color: white !important;

  &:hover {
    box-shadow: 0px 2px 10px #bbbbbb;
    color: white !important;
  }
}
